[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "shinyTime"]
	path = shinyTime
	url = https://github.com/burgerga/shinytime
	shallow = true
	registered = true
[submodule "mdftracks"]
	path = mdftracks
	url = https://github.com/burgerga/mdftracks
	shallow = true
	registered = true
